<section class="card">
  <a href="/auctions/{{id}}">
    <header>{{title}}</header>
    <p class="starting-price">Starting Price: ${{startingPrice}}</p>
    <img src="{{imageUrl}}" alt="Item Image"/>
  </a>
</section>