<div class="card-wrapper">
  <a
    href="/auctions/{{id}}"
    class="card"
    style="background-image: url('/images/{{imageUrl}}');"
  >
    <header>{{title}}</header>
    <p class="starting-price">Starting Price: ${{startingPrice}}</p>
  </a>
</div>