<div class="card-wrapper">
  <a href="/auctions/{{id}}" class="card" style="background-image: url('{{imageUrl}}');">
    <header>{{title}}</header>
    <p class="starting-price">Starting Price: ${{startingPrice}}</p>
  </a>
</div>
