<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BidWise</title>
    <link rel="icon" type="image/png" href="/images/bidwise_favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column">
      <header class="display-flex align-center">
  <a href="/">
    <img src="/images/bidwise_logo.png" alt="BidWise" class="logo-img">
  </a>
  <nav>
    <a href="/" class="primary-btn">Home</a>
    <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
    <a href="/profile" class="primary-btn">Profile</a>
    <button class="primary-btn" id="logout">Log Out</button>
    {{else}}
    <a href="/login" class="primary-btn">Log In</a>
    {{/if}}
  </nav>
</header>

      <main class="container container-fluid mt-5 mb-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
    <footer>&copy; Created by Edward Lui, Isabel Vaughan, Lionel Sanderson and Sadima Maharjan for Monash University Boot Camps</footer>

    </div>
    <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/placeBid.js"></script>
  </body>