:root {
    --primary: #60ab9a;
    --secondary: #fff;
    --tertiary: #92c5ba;
    --quatrinary: #d9d9d9;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .auction-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    margin-bottom: 10px;
  }
  
  .starting-price {
    font-weight: bold;
    margin-bottom: 10px;
  }

  a{
    color: Blue;
  }
  
  .max-size-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
    border: 8px groove var(--primary);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .end-date,
  .creation-date,
  .updated-date {
    margin-bottom: 10px;
  }
  
  #error-message,
  #success-message {
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
  }
  
  #error-message {
    background-color: #ffdddd;
    color: #ff0000;
  }
  
  #success-message {
    background-color: #ddffdd;
    color: #008000;
  }
  
  #bid-form input[type="number"],
  #bid-form button[type="submit"] {
    display: block;
    margin-bottom: 10px;
  }
  
  