:root {
  --primary: #9497e8;
  --secondary: #fa5829;
  --tertiary: #f6f4f4;
  --quatrinary: #7f82d1;
  --light: #fff;
  --dark: #323b60;
  --border-radius: 0.3rem;
}

/* Global Styles */

html,
body {
  height: 100%;
}

body {
  font-family: "Geologica", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--tertiary);
  color: var(--dark);
}

.flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: var(--light);
}

.logo-img {
  height: 80px;
  width: auto;
}

nav {
  margin-left: 50px;
}

/* Buttons */

.primary-btn {
  color: var(--light);
  background-color: var(--primary);
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.primary-btn:hover {
  text-decoration: none;
  color: var(--light);
  background-color: var(--quatrinary);
  cursor: pointer;
}

button {
  border: transparent;
}

/* FOOTER */

footer {
  color: var(--primary);
  background-color: var(--dark);
  text-align: center;
  padding: 15px;
  font-size: smaller;
  margin-top: auto;
}

/* AUCTION LIST */
.auction-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* CARDS */
.card-wrapper {
  flex: 0 0 25%;
  box-sizing: border-box;
  padding: 20px;
}

.card {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: transparent;
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--dark);
  padding: 0.5rem;
  text-align: center !important;
}

.card p.starting-price {
  font-size: smaller;
  margin: 0;
  padding: 0.5rem;
  background-color: var(--secondary);
  color: var(--light);
}

/* NEW LISTING */

.new-listing {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--quatrinary);
  border-radius: var(--border-radius);
  resize: vertical;
}

/* SINGLE AUCTION */

.single-auction {
  margin-top: 30px;
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.current-bid {
  color: var(--secondary);
}

.max-size-img {
  width: 90%;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .primary-btn {
    padding: 10px;
    margin: 5px;
  }
  .card-wrapper {
    flex-basis: 50%;
  }
}
